<div class="videoboard">
  <video id="localVideo" class="video" autoplay muted playsInline></video>
  <div id="UserName"></div>
</div>


<div class="toolbar-connectivity">
  <ul>
    <!--<li><button class="btn"><span class="oi oi-monitor" aria-hidden="true"></span> Start</button></li>-->
    <li><button class="btn btn-lg btn-outline-primary" (click)="Cam()">Disable Camera</button></li>
    <li><button class="btn btn-lg btn-outline-primary" (click)="CamOn()">Enable Camera</button></li>
    <li><button class="btn btn-lg btn-outline-primary" (click)="Mic()">Disable Microphone</button></li>
    <li><button class="btn btn-lg btn-outline-primary" (click)="Quit()">Quit the videoconference</button></li>
  </ul>
</div>
<div style="">
  <div class="connected-users">
    <h3>Group state</h3>
    <ul class="list-unstyled">
    </ul>
  </div>
</div>
